.panel-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 10rem;
  margin-block: 15rem;
  gap: 6rem;
  @media screen and (min-width: 250px) and (max-width: 720px) {
    flex-direction: column;
    margin-inline: 2.5rem;
    margin-block: 10rem;
  }
  &--img {
    width: 45%;
    @media screen and (min-width: 250px) and (max-width: 720px) {
      width: 100%;
    }
  }
  &--content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 5rem;
    @media screen and (min-width: 250px) and (max-width: 720px) {
      padding-inline: 1rem;
    }
    h2 {
      font-size: 2.5rem;
      @media screen and (min-width: 250px) and (max-width: 720px) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.5rem;
      @media screen and (min-width: 250px) and (max-width: 720px) {
        font-size: 1.3rem;
      }
    }
    span {
      font-size: 1.7rem;
      border-bottom: 1px solid hsl(176, 68%, 64%);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-bottom: 0.5rem;
      color: hsl(176, 68%, 64%);
      @media screen and (min-width: 250px) and (max-width: 720px) {
        font-size: 1.3rem;
      }
    }
  }
}
